In [3]:
# Importando bibliotecas
import pandas as pd

### Exerc√≠cio 1

In [20]:
df = pd.read_csv('ex2/fulano.txt', header=None, names=['nome'], dtype=str)

In [24]:
df

       nome     mensagem exclamacao espaco              valuename
0    Fulano  Hello World          !           Hello World Fulano!
1   Sicrano  Hello World          !          Hello World Sicrano!
2  Beltrano  Hello World          !         Hello World Beltrano!

In [23]:
# Adcionar constantes
df['mensagem'] = 'Hello World'
df['exclamacao'] = '!'
df['espaco'] = ' '

df['valuename'] = df['mensagem'] + df['espaco'] + df['nome'] + df['exclamacao']